*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 5vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
}

header > button {
    background-color: #111;
    color: #fff;
    font-size: .8vw;
    padding: .2vw .6vw;
    border-radius: .25vw;
    margin-left: .8vw;
    border: 0;
}

navButtons {
    position: fixed;
    z-index: 1000;
    bottom: 1.4vh;
    left: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

navButtons > button {
    background-color: #fff;
    color: #111;
    font-size: .8vw;
    padding: .2vw .4vw;
    border-radius: .25vw;
    margin-bottom: .6vh;
    border: 0;
}

#viewer {
    position: relative;
    background-color: #111;
    height: 95vh;
    width: 100vw;
    overflow: hidden;

    background-image: linear-gradient(rgb(109, 109, 109) .1em, transparent .1em), linear-gradient(90deg, rgb(109, 109, 109) .1em, transparent .1em);
    background-size: 5em 5em;
}

#imageViewer {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: top .1s linear, left .1s linear;
}